* {
  box-sizing: border-box;
}
:root {
  --op: 0.5;
  --lightness: 85%;
}
/*#root {outline: 2px solid red; }*/
body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "nta",Arial,sans-serif;
    overflow: hidden;
}
.hidden {
  display: none;
}
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
button {
  background: #009390;
  color: #fff;
  border: none;
  font-size: 1rem;
  margin: 0.5rem;
  min-width: 3.6em;
  padding: 0.5em 0.5em;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}
button:hover,
button:focus {
  background: #027f7c;
}

.branding {
  border-left: 3px solid #009390;
  background: #fff url(/hmrc_crest.png) 10px center no-repeat;
  padding-left: 53px;
  background-size: contain;
  font-family: Helvetica, Arial;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  position: relative;
}
.branding:before {
    content: "";
    position: absolute;
    left: -0.7rem;
    right: -0.5rem;
    top: -1rem;
    border-top: 2px solid rgba(130, 128, 128, 0.8);
}
.branding__built {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}
.branding__hmrc {
  display: block;
  font-size: 1.1;
}


#close {
  background: none;
  border: none;
  position: absolute;
  top: 0.25rem;
  right: 0rem;
  margin: 0;
}
#controls {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid rgba(130, 128, 128, 0.8);
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  width: 300px;
  border-right-width: 0;
  border-top-width: 0;
}
#moveGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 3em;
  margin: 0 auto;
  justify-content: center;
}
.moveControl {
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 50%;
  min-width: 0;
  margin: 0 auto;
}
.moveControl:active,
.moveControl:focus {
    outline: none;
    box-shadow: 0px 0px 0.1em 3px rgb(59, 153, 252);
}
.moveControl svg {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  height: 60%;
}
.moveControl path {
  fill: #fff;
}
#moveUp {
  grid-column: 2;
  grid-row: 1;
}
#moveUp svg {
  transform: translateX(-50%) translateY(-60%);
}
#moveDown {
  grid-column: 2;
  grid-row: 3;
}
#moveDown svg {
  transform: translateX(-50%) translateY(-40%);
}
#moveLeft {
  grid-column: 1;
  grid-row: 2;
}
#moveLeft svg {
  transform: translateX(-60%) translateY(-50%);
}
#moveRight {
  grid-column: 3;
  grid-row: 2;
}
#moveRight svg {
  transform: translateX(-40%) translateY(-50%);
}
#search {
    font-size: 1.4rem;
    border: 2px solid grey;
    background: rgba(255,255,255,0.8);
    display: block;
    margin: 0 auto;
    width: 100%;
}
#error {
  position: absolute;
  margin: 0;
  height: 2rem;
  bottom: -2.4rem;
  right: 0;
  background: #ba0000;
  color: #fff;
}
#filter {
    text-align: left;
    padding: 20px;
    position: absolute;
    overflow-y: auto;
    left: -340px;
    bottom: 0;
    width: 300px;
    vertical-align: top;
    top: 0;
    border-right: 2px solid rgba(130, 128, 128, 0.8);
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.25s ease-in-out;
}
#filter.open {
    left: 0;
}
#filter h1 {
  line-height: 1.1;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 1em;
}
#filter h2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.1;
}
#filter h3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}
.filterlist--withheaders {
  margin-top: 2em;
}
.filter__entry {
    margin-bottom: 0.5em;
    list-style: none;
    display: flex;
    background: #f6f6f6;
}
.filter__link {
  display: flex;
  width: 100%;
  background: #f6f6f6;
  padding: 0.4em 0.2em;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.filter__link--small {
  width: 20%;
  position: relative;
}
.filter__link:hover,
.filter__link:focus {
  background: #ececec;
  color: #1c1c1c;
}
.filter__rel {
    width: 60%;
    background: #f6f6f6;
    align-self: center;
    padding: 0 0.2em;
    position: relative;
}
.filter__action {
  display: block;
  width: 60%;
  padding-right: 0.2em;
  align-self: center;
}
.filter__link--source,
.filter__link--target,
.filter__id,
.filter__level,
.filter__status {
    width: 40%;
    padding: 0.2em;
    text-align: center;
    font-size: 0.8em;
    align-self: flex-start;
    justify-content: center;
    background: #333;
    color: #fff;
    position: relative;
}
.filter__link--source,
.filter__link--target,
.filter__id,
.filter__status {
  background: #009390;
}
.filter__link--source:hover,
.filter__link--source:focus,
.filter__link--target:hover,
.filter__link--target:focus {
  background: #027f7c;
  color: #fff;
}
.filter__id {
  width: 20%;
}
.filter__entry:first-child .filter__link--source:before,
.filter__entry:first-child .filter__link--target:before,
.filter__entry:first-child .filter__rel:before,
.filter__entry:first-child .filter__id:before,
.filter__entry:first-child .filter__level:before {
    content: "ID";
    position: absolute;
    top: -2em;
    left: 0;
    color: black;
    text-transform: uppercase;
    font-size: 0.6rem;
}
.filter__entry:first-child .filter__level:before {
  content: "Level"
}

.filter__entry:first-child .filter__link--source:before {
  content: "Source"
}
.filter__entry:first-child .filter__link--target:before {
  content: "Target"
}
.filter__entry:first-child .filter__rel:before {
  content: "Relationship"
}

.filter__id ~ .filter__action {
  width: 40%;
  padding-left: 0.2em;
}

.filter__status--critical {
    background: maroon;
    color: #fff;
}
.filter__status--contributes {
    background: blue;
    color: #fff;
}
fieldset {
  padding: 0.5em 0;
  margin: 1em 0;
  border: 1px solid transparent;
  border-top-color: #bbb;
}
legend {
  margin: 0 auto;
}
.control-group {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
}
input[type="radio"],
input[type="checkbox"] {
  display: block;
  margin: 0 auto;
}
#visibility {
    position: relative;
}
#visibility:disabled {
  opacity: 0.2;
}
#visibility:before {
    content: "more";
    left: -4em;
    position: relative;
}
#visibility:after {
    content: "less";
    right: -4em;
    position: relative;
}

ul {
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
svg {
    /*margin: 2em auto;*/
    /*border: 1px solid #aaa*/
}
#root {
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
}
.link,
.node {
    transition: stroke 0.25s ease-in-out;
}
.node {
    cursor: pointer;
}
.link {
fill: none;
stroke: #03f5f2;
stroke-width: 1.5px;
}
.link--critical {
    stroke: hsl(0, 100%, 50%);
}
.link--critical.dimmed {
    stroke: hsla(0, 100%, 85%, 0.5);
    stroke: hsla(0, 100%, var(--lightness), var(--op));
}
.link--contributes {
    stroke: hsl(0, 0%, 50%);
}
.link--contributes.dimmed {
    stroke: hsla(0, 0%, 85%, 0.5);
    stroke: hsla(0, 0%, var(--lightness), var(--op));
}
.link--limited {
    stroke: hsl(216, 99%, 50%);
}
.link--limited.dimmed {
    stroke: hsla(216, 99%, 85%, 0.5);
    stroke: hsla(216, 99%, var(--lightness), var(--op));
}

circle {
fill: #ccc;
stroke: #fff;
stroke-width: 1.5px;
}
.level--error {
  fill: red;
}
/*.level--error ~ text {
  fill: #fff;
  filter: url(#error)
}*/
.level--1 {
    fill: hsl(39, 100%, 50%);
}
.dimmed .level--1 {
    fill: hsla(39, 100%, 85%, 0.5);
    fill: hsla(39, 100%, var(--lightness), var(--op));
}
.level--2 {
    fill: hsl(240, 100%, 50%);
}
.dimmed .level--2 {
    fill: hsla(240, 100%, 85%, 0.5);
    fill: hsla(240, 100%, var(--lightness), var(--op));
}
.level--3 {
    fill: hsl(63, 80%, 50%);
}
.dimmed .level--3 {
    fill: hsla(63, 80%, 85%, 0.5);
    fill: hsla(63, 80%, var(--lightness), var(--op));
}
text {
    fill: hsl(0, 0%, 0%);
    font: 12px "nta",Arial,sans-serif;
    pointer-events: none;
    opacity: 1;
    /*transition-delay: 2s;*/
    transition: opacity 0.25s ease-in-out;
}
.level--1 ~ text {
    fill: black;
}
.level--2 ~ text {
    fill: black;
}
.level--3 ~ text {
    fill: black;
}
svg.hide-labels--level1 .level--1 ~ text {
  opacity: 0;
}
svg.hide-labels--level2 .level--2 ~ text {
  opacity: 0;
}
svg.hide-labels--level3 .level--3 ~ text {
  opacity: 0;
}
.dimmed text {
    opacity: 0;
}
.hidden {
  opacity: 0;
}

/*.level--1 ~ rect {
    fill: hsl(39, 100%, 50%);
}
.level--2 ~ rect {
    fill: hsl(240, 100%, 50%);
}
.level--3 ~ rect {
    fill: hsl(350, 100%, 88%);
}*/

.node--inplay circle {
animation-duration: 2s;
animation-iteration-count: infinite;
stroke: black;
}
.node:hover text,
.dimmed:hover text,
.node--inplay text {
  filter: url(#highlight);
  fill: #fff;
  opacity: 1!important;
  font-size: 16px;
}
.node--inplay .level--1 {
animation-name: pulsebg1;
fill: hsla(39, 100%, 50%, 0.8);
}
.node--inplay .level--2 {
animation-name: pulsebg2;
fill: hsla(240, 100%, 50%, 0.8);
}
.node--inplay .level--3 {
animation-name: pulsebg3;
fill: hsla(63, 80%, 85%, 0.8);
}
@keyframes pulsebg1 {
0% {
r: 20;
fill: hsla(39, 100%, 50%, 0.8);
}
5% {
r: 18;
fill: hsla(39, 100%, 50%, 0.4);
}
20% {
r: 22;
fill: hsla(39, 100%, 50%, 0.6);
}
30% {
r: 20;
fill: hsla(39, 100%, 50%, 0.8);
}
31%,100% {
r: 20;
fill: hsla(39, 100%, 50%, 0.8);
}
}
@keyframes pulsebg2 {
0% {
r: 12;
fill: hsla(240, 100%, 50%, 0.8);
}
5% {
r: 10;
fill: hsla(240, 100%, 50%, 0.4);
}
20% {
r: 14;
fill: hsla(240, 100%, 50%, 0.6);
}
30% {
r: 12;
fill: hsla(240, 100%, 50%, 0.8);
}
31%,100% {
r: 12;
fill: hsla(240, 100%, 50%, 0.8);
}
}
@keyframes pulsebg3 {
0% {
r: 11;
fill: hsla(63, 80%, 50%, 1);
}
5% {
r: 9;
fill: hsla(63, 80%, 50%, 0.8);
}
20% {
r: 13;
fill: hsla(63, 80%, 50%, 0.9);
}
30% {
r: 11;
fill: hsla(63, 80%, 50%, 1);
}
31%,100% {
r: 11;
fill: hsla(63, 80%, 50%, 1);
}
}
